<div class="p-m-4">
    <!-- Top Bar with Create Button -->
    <div class="top-bar p-d-flex p-jc-between p-ai-center">
      <h2 class="p-text-bold p-mb-0">Manage DDOs</h2>
      <button
        pButton
        type="button"
        label="Create DDO"
        icon="pi pi-plus"
        class="p-button-success p-button-lg"
        (click)="openDialog()"
      ></button>
    </div>
  
    <!-- Table with Pagination -->
    <p-table
      [value]="ddoList"
      class="custom-table p-mt-3"
      [paginator]="true"
      [rows]="10"
      [rowsPerPageOptions]="[5, 10, 20, 50]"
      [loading]="loading"
    >
      <!-- Table Header -->
      <ng-template pTemplate="header">
        <tr>
          <th class="custom-th">Treasury Code</th>
          <th class="custom-th">Code</th>
          <th class="custom-th">Designation</th>
          <th class="custom-th">Address</th>
          <th class="custom-th actions-header">Actions</th>
        </tr>
      </ng-template>
  
      <!-- Table Body -->
      <ng-template pTemplate="body" let-ddo let-i="rowIndex">
        <tr class="custom-row">
          <td>{{ ddo.treasuryCode }}</td>
          <td>{{ ddo.code }}</td>
          <td>{{ ddo.designation }}</td>
          <td>{{ ddo.address }}</td>
          <td class="actions-cell">
            <button
              pButton
              icon="pi pi-pencil"
              class="p-button-rounded p-button-info"
              (click)="openDialog(true, i)"
              title="Edit"
            ></button>
            <button
              pButton
              icon="pi pi-trash"
              class="p-button-rounded p-button-danger"
              (click)="deleteDDO(i)"
              title="Delete"
            ></button>
          </td>
        </tr>
      </ng-template>
  
      <!-- Loading Spinner -->
      <ng-template pTemplate="loadingbody">
        <tr>
          <td colspan="5" class="text-center">
            <p-progressSpinner *ngIf="loading"></p-progressSpinner>
          </td>
        </tr>
      </ng-template>
    </p-table>
  
    <!-- Dialog for Create/Edit DDO -->
    <p-dialog
      [header]="isEditMode ? 'Edit DDO' : 'Create DDO'"
      [(visible)]="displayDialog"
      [modal]="true"
      [closable]="true"
      [style]="{ width: '500px' }"
      class="custom-dialog"
    >
      <div class="p-fluid">
        <div class="p-field">
          <label for="treasuryCode">Treasury Code</label>
          <input id="treasuryCode" type="text" pInputText [(ngModel)]="ddo.treasuryCode" class="custom-input" />
        </div>
  
        <div class="p-field">
          <label for="code">Code</label>
          <input id="code" type="text" pInputText [(ngModel)]="ddo.code" class="custom-input" />
        </div>
  
        <div class="p-field">
          <label for="designation">Designation</label>
          <input id="designation" type="text" pInputText [(ngModel)]="ddo.designation" class="custom-input" />
        </div>
  
        <div class="p-field">
          <label for="address">Address</label>
          <input id="address" type="text" pInputText [(ngModel)]="ddo.address" class="custom-input" />
        </div>
      </div>
  
      <!-- Dialog Footer -->
      <p-footer class="custom-footer">
        <button
          pButton
          icon="pi pi-check"
          [label]="isEditMode ? 'Update' : 'Create'"
          class="p-button-primary p-mr-2"
          (click)="saveDDO()"
        ></button>
        <button
          pButton
          label="Cancel"
          icon="pi pi-times"
          class="p-button-secondary"
          (click)="displayDialog = false"
        ></button>
      </p-footer>
    </p-dialog>
  </div>
  